@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;

@layer base {
    html,body{
        @apply h-full overflow-x-hidden;
    }
    body{
        @apply flex flex-col;
    }
    div{
        @apply flex flex-col items-start justify-start;
    }
    [multiple],
    [type=date],
    [type=datetime-local],
    [type=email],
    [type=month],
    [type=number],
    [type=password],
    [type=search],
    [type=tel],
    [type=text],
    [type=time],
    [type=url],
    [type=week],
    select,
    textarea {
        /*appearance: inherit;*/
        background-color: inherit;
        border-color: inherit;
        border-width: inherit;
        border-radius: inherit;
        padding: 16.5px 14px;
        font-size: initial;
        line-height: inherit;
    }

    [multiple]:-webkit-autofill,
    [type=date]:-webkit-autofill,
    [type=datetime-local]:-webkit-autofill,
    [type=email]:-webkit-autofill,
    [type=month]:-webkit-autofill,
    [type=number]:-webkit-autofill,
    [type=password]:-webkit-autofill,
    [type=search]:-webkit-autofill,
    [type=tel]:-webkit-autofill,
    [type=text]:-webkit-autofill,
    [type=time]:-webkit-autofill,
    [type=url]:-webkit-autofill,
    [type=week]:-webkit-autofill,
    select:-webkit-autofill,
    textarea:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 100px #F1F5F9 inset;
        -webkit-text-fill-color: #011627;
        caret-color: #011627;
        border-radius: inherit;
    }

    .dark [multiple]:-webkit-autofill,
    .dark [type=date]:-webkit-autofill,
    .dark [type=datetime-local]:-webkit-autofill,
    .dark [type=email]:-webkit-autofill,
    .dark [type=month]:-webkit-autofill,
    .dark [type=number]:-webkit-autofill,
    .dark [type=password]:-webkit-autofill,
    .dark [type=search]:-webkit-autofill,
    .dark [type=tel]:-webkit-autofill,
    .dark [type=text]:-webkit-autofill,
    .dark [type=time]:-webkit-autofill,
    .dark [type=url]:-webkit-autofill,
    .dark [type=week]:-webkit-autofill,
    .dark select:-webkit-autofill,
    .dark textarea:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 100px #011627 inset;
        -webkit-text-fill-color: #F1F5F9;
        caret-color: #F1F5F9;
        border-radius: 0;
    }
    span,p,h3, div{
        @apply cursor-default;
    }
}
/***/
.circle-dashed-border{
    @apply rounded-full border-[0.043rem] border-dashed border-white;
}
/***/


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    @apply bg-white;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}


